<div class="row">

	<div class="column small-12 medium-12">

		{% if activities.length == 0 %}
			No comments
		{% else %}

			{% for activity in activities %}
				<div class="row activity-row align-top">
					<div class="column shrink">
						<img src="http://placehold.it/35x35" class="user-img">
					</div>
					<div class="column">
						<div class="activity-content">
							<div class="activity-user">
								<a href="/users/123">
									<strong>{{activity.created_by.first_name}} {{activity.created_by.last_name}}</strong>
								</a> just now
							</div>
							{% if activity.auto_gen %}
								<p class="system-message">
							{% else %}
								<p>
							{% endif %}
									{{activity.comment}}
								</p>
							{% if self %}
								<small>
									<a href="#" class="delete-activity">
										Remove
									</a>
								</small>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}

		{% endif %}
	
	</div>

	<div class="column small-12 medium-12">

		<hr>
		<form action="/project/{{project._id}}/exceptions/{{exception._id}}/activity" method="post">
			<div class="row comment-row">
				<div class="column shrink">
					<img src="http://placehold.it/35x35" class="user-img">
				</div>
				<div class="column">
					<textarea placeholder="Add a comment..." name="comment"></textarea>
				</div>
			</div>
			<div class="row align-right">
				<div class="column shrink">
					<button class="button primary">Comment</button>
				</div>
			</div>
		</form>
	</div>
</div>