<div class="actions-bar">
	<div class="row">
		<div class="column">
			<i class="fa fa-search"></i> <input type="text" placeholder="Search for errors...">
		</div>
		<div class="column shrink">
			<i class="fa fa-play active"></i>
			<i class="fa fa-pause"></i>
		</div>
	</div>
</div>

<table class="all-exceptions">
	<thead>
		<tr>
			<th>Error</th>
			<th>Last Seen</th>
			<th>Times</th>
			<th>Assignee</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{{#exceptions}}
			<tr data-exception="{{_id}}">
				<td>
					<a href="/project/{{project}}/exceptions/{{_id}}" data-pjax>
						<span class="message block">
							{{class}}
						</span>
						<small>
							<span class="block">{{last_message}}</span>
							<span class="block file">{{file}}:<strong class="accent-color">{{line}}</strong></span>
						</small>
					</a>
				</td>
				<td class="last-seen">
					{{#time}}
						{{last_occurred}}
					{{/time}}
				</td>
				<td class="times">{{instances.length}}</td>
				<td></td>
				<td></td>
			</tr>
		{{/exceptions}}
		{{^exceptions}}
			<tr>
				<td colspan=5 class="align-center empty">
					<i class="fa fa-check-circle"></i>
					<div>No errors here!</div>
				</td>
			</tr>
		{{/exceptions}}
	</tbody>
</table>