<div class="reveal-header">
	Instance {{instance._id}}
	<div class="close-button" data-close>
		&times;
	</div>
</div>

<div class="map">

</div>

<div class="reveal-content">
	<table>
		<tr>
			<td>
				URL
			</td>
			<td>
				{{instance.url}}
			</td>
		</tr>
		<tr>
			<td>
				Method
			</td>
			<td>
				{{instance.method}}
			</td>
		</tr>
		<tr>
			<td>
				Seen By
			</td>
			<td>
				{{instance.user}}
			</td>
		</tr>
		<tr>
			<td>
				IP Address
			</td>
			<td>
				{{instance.ip}}
			</td>
		</tr>
		<tr>
			<td>
				Location
			</td>
			<td>
				{{instance.location}}
			</td>
		</tr>
		<tr>
			<td>
				Browser
			</td>
			<td>
				{{instance.browser}}
			</td>
		</tr>
		<tr>
			<td>
				User Agent
			</td>
			<td>
				{{instance.useragent}}
			</td>
		</tr>
	</table>
</div>

<div class="reveal-footer">

</div>