
<div class="instance-header">
	<strong>{{instance.message}}</strong>
	<small>{{instance.trace.0.file}}:<span class="accent-color">{{instance.trace.0.line}}</small>
</div>

<div class="map">
	{{{instance.source}}}
</div>

<div class="reveal-detail">
	<div class="row reveal-detail-bar">
		<div class="column shrink">
			<a href="#" class="active" data-type="details">
				Details
			</a>
		</div>
		<div class="column shrink">
			<a href="#" data-type="trace">
				Stack Trace
			</a>
		</div>
		<div class="column shrink">
			<a href="#" data-type="environment">
				Environment
			</a>
		</div>
		<div class="column shrink">
			<a href="#" data-type="cookies">
				Cookies
			</a>
		</div>
		<div class="column shrink">
			<a href="#" data-type="data">
				Data
			</a>
		</div>
	</div>
	<div class="reveal-detail-active-bar">
		<div></div>
	</div>
</div>

<div class="reveal-content">
	<table>
		<tbody class="details">
			<tr>
				<td>Time</td>
				<td>{{#time}}{{instance.created_at}}{{/time}}</td>
			</tr>
			<tr>
				<td>URL</td>
				<td><label>{{instance.method}}</label> {{instance.url}}</td>
			</tr>
			<tr>
				<td>Seen By</td>
				<td>{{instance.user}}</td>
			</tr>
			<tr>
				<td>IP Address</td>
				<td>{{instance.ip}}</td>
			</tr>
			<tr>
				<td>Location</td>
				<td>{{instance.location}}</td>
			</tr>
			<tr>
				<td>Browser</td>
				<td>
				{{instance.os.name}} {{instance.os.version}} | {{instance.browser.name}} {{instance.browser.version}} <a href="#" class="accent-color">See UA String...</a>
					<div class="hide">
						{{instance.useragent}}
					</div>
				</td>
			</tr>
			<tr>
				<td>Device</td>
				<td>{{instance.device.model}} {{instance.device.type}}</td>
			</tr>
			<tr>
				<td>CPU</td>
				<td>{{instance.cpu.architecture}}</td>
			</tr>
		</tbody>
		<tbody class="trace hide">
			{{#instance.trace}}
				<tr>
					<td colspan="2">
						<strong>{{class}}</strong>
						<small>{{file}}:{{line}}</small>
					</td>
				</tr>
			{{/instance.trace}}
		</tbody>
		<tbody class="environment hide">
			{{#instance.env}}
				<tr>
					<td>{{.}}</td>
				</tr>
			{{/instance.env}}
		</tbody>
		<tbody class="cookies hide">
			{{#instance.cookies}}
				<tr>
					<td>{{.}}</td>
				</tr>
			{{/instance.cookies}}
		</tbody>
		<tbody class="data hide">
			{{#instance.data}}
				<tr>
					<td>{{.}}</td>
				</tr>
			{{/instance.data}}
		</tbody>

	</table>
</div>

<div class="reveal-footer">

</div>