<div class="row section-title align-middle">
	<div class="column">
		<h1>Setup Project</h1>
	</div>
</div>

<div class="row">
	<div class="column">
		<p>
			Looks like you haven't linked your application to Zappem yet.
		</p>

		<p>
			It's easy - just use one of the following packages that suits your applications and pass through your <em>Project ID</em> <code>{{project._id}}</code>
		</p>

		<ul>
			<li>
				<a href="https://github.com/danjohnson95/zappem-laravel" target="_blank">Laravel</a>
			</li>
		</ul>
	</div>
</div>
