{% for exception in exceptions %}
	<tr>
		<td class="small">
			<canvas width="100" height="20" class="canvas" data-graph="[{{exception.chart}}]">
				
			</canvas>
		</td>
		<td class="smaller">
			{{exception.instances.length}}
		</td>
		<td class="smaller">
			0
		</td>
		<td class="exception-message">
			<a href="/project/{{exception.project|raw}}/exceptions/{{exception.id}}" title="{{exception.message}}">
				{{exception.message}}
			</a>
		</td>
		<td class="time-ago">
			<attr title="{{exception.created_at}}">
				{{exception.last_received_nice}}
			</attr>
		</td>
		<td class="small">
			<button class="button" data-open="resolve">
				Resolve
			</button>
		</td>
	</tr>
{% endfor %}