{% extends '../layouts/default.html' %}

{% block css %}
  	<link rel="stylesheet" href="/css/exceptions.css">
    <link rel='stylesheet' type='text/css' href='/css/prettify.css'>
{% endblock %}

{% block js %}
    <script src='//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js'></script>
    <script src="/js/exceptions.js"></script>
{% endblock %}


{% block content %}

<div class="row">

	<div class="column small-4">
		<div class="callout ajax-preload trace-sidebar" data-url="/project/{{exception.project|raw}}/exceptions/{{exception.id|raw}}/trace">
		</div>
	</div>

	<div class="column main-view-exception">
		<div class="row">
			<div class="column">
				<div class="exception-class">
					{{exception.class}}
				</div>
				<div class="exception-title">
					{{exception.message}}
				</div>

				<div class="exception-file">
					{{exception.file}}<span class="line">:{{exception.line}}</span>
				</div>
			</div>

			<div class="column shrink">
				<button class="button primary">
					<i class="fa fa-eye"></i> Watching <i class="fa fa-caret-down"></i>
				</button>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="column shrink">
				<strong>{{instances.length}}</strong>
				<span class="grey-label">Times Occurred</span>
			</div>
			<div class="column shrink">
				<strong>{{usersaffected}}</strong>
				<span class="grey-label">Users Affected</span>
			</div>
			<div class="column shrink">
				<strong class="time-ago">
                    <attr title="{{exception.created_at|raw}}">
                        {{exception.first_seen_nice}}
                    </attr>
                </strong>
				<span class="grey-label">First Seen</span>
			</div>
			<div class="column shrink">
				<strong class="time-ago">
                    <attr title="{{exception.last_seen|raw}}">
                        {{exception.last_seen_nice}}
                    </attr>
                </strong>
				<span class="grey-label">Last Seen</span>
			</div>
		</div>

		<hr style="margin-bottom:0">

		<div class="row">

			<div class="column prettify">
				<pre class="prettyprint linenums:{{exception.line-7}}">{{exception.code}}</pre>
			</div>

		</div>

	</div>


		


		{#<div class="row exception-tabs">
			<div class="column shrink">
				<a href="/project/{{exception.project|raw}}/exceptions/{{exception.id|raw}}/activity" class="active" >Activity</a>
			</div>
			<div class="column shrink">
				<a href="/project/{{exception.project|raw}}/exceptions/{{exception.id|raw}}/trace">Trace</a>
			</div>
			<div class="column shrink">
				<a href="/project/{{exception.project|raw}}/exceptions/{{exception.id|raw}}/instances">Instances</a>
			</div>
			<div class="column shrink">
				<a href="/project/{{exception.project|raw}}/exceptions/{{exception.id|raw}}/users">Users</a>
			</div>
		</div>#}

		{#<div id="exception-ajax">
			<div class="ajax-contents"></div>
			<div class="ajax-loading">
				<i class="fa fa-spin fa-spinner"></i>
			</div>
		</div>#}


		<div class="row">
			<div class="column small-4">
				<div class="callout ajax-preload" data-url="/project/{{exception.project|raw}}/exceptions/{{exception.id|raw}}/activity">
					<i class="fa fa-spinner fa-spin"></i>
				</div>
			</div>
			<div class="column small-4">
				<div class="callout ajax-preload" data-url="/project/{{exception.project|raw}}/exceptions/{{exception.id|raw}}/instances">
				</div>
			</div>
		</div>

	</div>

</div>
{% endblock %}