<div class="row align-middle align-justify">
	<div class="column logo shrink">
		<img src="/images/logo.svg">
	</div>
	{{#user}}
		<div class="project column {{^project}}hide{{/project}}">
			<small>Project</small>
			<a href="/projects" data-pjax>{{project.project_name}}</a> <i class="fa fa-angle-down"></i>
		</div>
		<div class="user column shrink align-right">
			{{#user.img}}
				<img src="/images/users/{{user.img}}">
			{{/user.img}}
			{{^user.img}}
				<img src="/images/users/placeholder.png">
			{{/user.img}}
			<span class="user-name">
				{{ user.name }}
			</span>
			<i class="fa fa-angle-down"></i>

			<div class="dropdown">
				<ul>
					<li class="disabled">
						{{user.name}}<br>
						{{user.email}}
					</li>
					<hr>
					<li>Your Feed</li>
					<li>Settings</li>
					<hr>
					<a href="/logout">
						<li>Log Out</li>
					</a>
				</ul>
			</div>
		</div>
	{{/user}}
</div>