<div class="padded-content">

	<div class="row">

		<div class="column">
			<div class="section-title">
				Summary of {{project.project_name}}
			</div>
		</div>

	</div>

	<div class="row align-stretch">
		
		<div class="column small-4">
			<div class="panel">
				<div class="panel-head">
					Errors Today <span class="accent"><strong>({{exceptions.length}})</strong></span>
				</div>
				<div class="panel-contents">
					<table>
						<thead>
							<tr>
								<th>Error</th>
								<th class="align-right">Times</th>
							</tr>
						</thead>
						<tbody>
							{{#exceptions}}
								<tr data-url="/project/{{project}}/exception/{{_id}}">
									<td>{{class}}</td>
									<td class="align-right">{{instances.length}}</td>
								</tr>
							{{/exceptions}}
							{{^exceptions}}
								<tr>
									<td colspan=2 class="align-center empty">
										<i class="fa fa-check-circle"></i>
										<div>No errors here!</div>
									</i>
								</td>
							{{/exceptions}}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="column small-8">
			<div class="panel">
				<div class="panel-head">
					Error Trend
				</div>
				<div class="panel-contents">
					<canvas height=100 style="width: 100%">

					</canvas>
				</div>
			</div>
		</div>

	</div>

</div>