<div class="padded-content" id="page_dashboard">

	<div class="row">

		<div class="column">
			<div class="section-title">
				Summary of {{project.project_name}}
			</div>
		</div>

	</div>

	<div class="row align-stretch">
		
		<div class="column small-12 medium-5 large-12">
			<div class="row">
				<div class="column small-6 medium-12 large-3">
					<div class="stat-box" id="unresolved_instances">
						<strong>{{stats.errors}}</strong>
						<span>Unresolved instances today</span>
					</div>
				</div>
				<div class="column small-6 medium-12 large-3">
					<div class="stat-box" id="unresolved_today">
						<strong>{{stats.unique}}</strong>
						<span>Unresolved today</span>
					</div>
				</div>
				<div class="column small-6 medium-12 large-3">
					<div class="stat-box" id="users_affected">
						<strong>{{stats.users}}</strong>
						<span>Users affected today</span>
					</div>
				</div>
				<div class="column small-6 medium-12 large-3">
					<div class="stat-box" id="new_errors">
						<strong>{{stats.new}}</strong>
						<span>New errors today</span>
					</div>
				</div>
			</div>

			<div class="show-for-large">
				<br>
			</div>

		</div>

		<div class="column small-12 medium-7 large-4">
			<div class="panel errors-today">
				<div class="panel-head">
					Unresolved Errors Today <span class="accent"><strong>({{stats.unique}})</strong></span>
				</div>
				<div class="panel-contents">
					{{{tableview}}}
				</div>
			</div>
		</div>

		<div class="column small-12 large-8">
			<div class="hide-for-large">
				<br>
			</div>
			<div class="panel error-trend">
				<div class="panel-head">
					Error Trend
				</div>
				<div class="panel-contents">
					<canvas style="width: 100%">

					</canvas>
				</div>
			</div>
		</div>

	</div>

</div>