<div class="padded-content" id="page_dashboard">

	<div class="row">

		<div class="column">
			<div class="section-title">
				Summary of {{project.project_name}}
			</div>
		</div>

	</div>

	<div class="row align-stretch">
		
		<div class="column small-12 medium-5 large-12">
			<div class="row">
				<div class="column small-6 medium-12 large-3">
					<div class="stat-box">
						<strong>{{stats.errors}}</strong>
						<span>Unresolved today</span>
					</div>
				</div>
				<div class="column small-6 medium-12 large-3">
					<div class="stat-box">
						<strong>{{stats.unique}}</strong>
						<span>Unique unresolved today</span>
					</div>
				</div>
				<div class="column small-6 medium-12 large-3">
					<div class="stat-box">
						<strong>{{stats.users}}</strong>
						<span>Users affected today</span>
					</div>
				</div>
				<div class="column small-6 medium-12 large-3">
					<div class="stat-box">
						<strong>5</strong>
						<span>Unassigned exceptions</span>
					</div>
				</div>
			</div>

			<div class="show-for-large">
				<br>
			</div>

		</div>

		<div class="column small-12 medium-7 large-4">
			<div class="panel errors-today">
				<div class="panel-head">
					Errors Today <span class="accent"><strong>({{exceptions.length}})</strong></span>
				</div>
				<div class="panel-contents">
					<table>
						<thead>
							<tr>
								<th style="width: 50%">Error</th>
								<th class="align-right">Times</th>
							</tr>
						</thead>
						<tbody>
							{{#exceptions}}
								<tr data-url="/project/{{project}}/exception/{{_id}}">
									<td>{{class}}</td>
									<td class="align-right">{{instances.length}}</td>
								</tr>
							{{/exceptions}}
							{{^exceptions}}
								<tr>
									<td colspan=2 class="align-center empty">
										<i class="fa fa-check-circle"></i>
										<div>No errors here!</div>
									</i>
								</td>
							{{/exceptions}}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="column small-12 large-8">
			<div class="hide-for-large">
				<br>
			</div>
			<div class="panel error-trend">
				<div class="panel-head">
					Error Trend
				</div>
				<div class="panel-contents">
					<canvas style="width: 100%">

					</canvas>
				</div>
			</div>
		</div>

	</div>

</div>