<!DOCTYPE html>
<html>
  <head>
    <title>Zappem</title>
    <link rel='stylesheet' href='/css/main.css' />

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css'/>

    <script src="/js/main.js"></script>
    
  </head>
  <body>
    
    <div class="row wrap">

    	<div class="column shrink" id="sidebar">
    		<div class="logo">
    			<a href="/dashboard">
    				<img src="images/logo.svg">
    			</a>
			</div>

			<div class="user-block row align-middle" data-toggle="user-actions">
				<div class="column shrink">
					<img src="http://placehold.it/32x32">
				</div>
				<div class="column">
					Hi, <strong>{{ user.first_name }}!</strong>
				</div>
				<div class="column shrink">
					<i class="fa fa-angle-right"></i>
				</div>
			</div>

			<div class="dropdown-pane small" id="user-actions" data-dropdown data-close-on-click=true>
				<ul>
					<a href="/profile/{{user.id}}">
						<li>
							<i class="fa fa-user"></i> My Profile
						</li>
					</a>
					<a href="/account">
						<li>
							<i class="fa fa-wrench"></i> Manage Account
						</li>
					</a>
					<hr>
					<a href="/logout">
						<li>
							<i class="fa fa-sign-out"></i> Log Out
						</li>
					</a>
				</ul>
			</div>


			<nav>
				<ul>
					<a href="/dashboard">
						<li>
							<i class="fa fa-tachometer"></i> Dashboard
						</li>
					</a>

					<a href="/projects">
						<li>
							<i class="fa fa-code-fork"></i> Projects
						</li>
					</a>

					<a href="/exceptions">
						<li>
							<i class="fa fa-exclamation-circle"></i> Exceptions
						</li>
					</a>

					<a href="/logs">
						<li>
							<i class="fa fa-tags"></i> Logs
						</li>
					</a>

					<a href="/settings">
						<li>
							<i class="fa fa-cog"></i> Settings
						</li>
					</a>
				</ul>
			</nav>

    	</div>

    	<div class="column" id="contents">
    		
    		<div class="content-header">
    			{{ title }}
    		</div>

    		<div class="row page-contents">
    			<div class="column small-12">
    				{{{yield}}}
				</div>
			</div>

			{{--<footer class="row align-justify">
				<div class="column">
					Made with <i class="fa fa-heart"></i> by Dan Johnson
				</div>
				<div class="column shrink">
					<a href="https://github.com/danjohnson95/maggot.io" target="_blank">
						<i class="fa fa-github"></i> GitHub</a>
				</div>
			</footer>--}}

		</div>
	</div>


  </body>
</html>
