<!DOCTYPE html>
<html>
<head>
	{{#title}}
		<title>{{title}} | Zappem</title>
	{{/title}}
	{{^title}}
		<title>Zappem</title>
	{{/title}}
	<link rel='stylesheet' href='/css/login.css' />
</head>
<body>

	<!--#F3FF00-->

	<div class="topbar row align-justify">
		<div class="column shrink">
			<img src="/images/logo.svg">
		</div>
		<div class="column shrink">
			<div class="row align-right">
				<div class="column">
					<a href="/">About</a>
				</div>
				<div class="column">
					<a href="/">Docs</a>
				</div>
			</div>
		</div>
	</div>


	{{{yield}}}

</body>
</html>