<!DOCTYPE html>
<html>
  <head>
    <title>Zappem</title>
    <link rel='stylesheet' href='/css/main.css' />

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <style>
    body{
    	background-color: #fafafa;
    	padding-left: 260px;
    	padding-top: 65px;
    }
    .topbar{
    	width:100%;
    	background-color: #3168D6;
    	position: fixed;
    	top: 0;
    	left: 0;
    	padding: 15px;
    	padding-left: 270px;
    }

    .sidebar{
    	width:260px;
    	height:100%;
    	position: fixed;
    	left: 0;
    	top: 51px;
    	border-right: 1px solid rgba(0,0,0,0.1);
    	background-color:#fff;
    }
    </style>
    <script src="/js/main.js"></script>
    
  </head>
  <body>
    

    <div class="topbar">
    	<img src="/images/logo.svg" style="width: 100px">
    </div>

    <div class="sidebar">

    </div>


   

    		<div class="row page-contents">
    			<div class="column small-12">
    				{{{yield}}}
				</div>
			</div>

	


  </body>
</html>
