#page_dashboard{

	.stat-box{
		margin: 1em 0;
		background-color: $secondary-color;
		padding: 1em;
		border-radius: 5px;
		position: relative;
		overflow: hidden;

		@media #{$medium-up}{
			padding: 2em;
		}

		strong{
			font-size: 3em;
			line-height: 1;
			color: $accent-color;
			vertical-align: middle;
			display: block;
		}
		span{
			vertical-align: bottom;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		&:first-child{
			margin-top: 0;
		}
	}
	.errors-today{
		.panel-contents{
			height: 402px;
		}
		tbody{
			height: 402px;
			max-height: 402px;
			overflow-y: scroll;
			overflow-x: hidden;
			tr{
				&.empty{
					background-color: transparent;
				}
			}
		}
	}
	.error-trend{
		.panel-contents{
			height: 403px;
		}
	}

}