<div class="dashboard">

	<div class="row dashboard-panels">

		<div class="column small-3">
			<div class="callout">
				<div class="dashboard-head">New Today</div>
				<div>
					<strong class="big-number">{{last24}}</strong>
				</div>
			</div>
		</div>

		<div class="column small-3">
			<div class="callout">
				<div class="dashboard-head">Total Today</div>
				<div>
					<strong class="big-number">{{instanceCounter}}</strong>
				</div>
			</div>
		</div>

		<div class="column small-3">
			<div class="callout">
				<div class="dashboard-head">Unresolved</div>
				<div>
					<strong class="big-number">{{unresolvedCounter}}</strong>
				</div>
			</div>
		</div>

		<div class="column small-3">
			<div class="callout">
				<div class="dashboard-head">Resolved</div>
				<div>
					<strong class="big-number">0</strong>
				</div>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="column small-8">
			<canvas class="canvas">

			</canvas>
		</div>


		<div class="column small-4">
			<div class="callout project-members">
				<div class="dashboard-head">Project Members</div>
				<div class="row invite-users align-middle" data-open="invite-members">
					<div class="column shrink">
						<i class="fa fa-plus"></i>
					</div>
					<div class="column">
						Invite users to this project
					</div>
				</div>
				<div class="user-list">
					{{#project.members}}
						<div class="row user align-top">
							<div class="column shrink">
								<img src="/images/users/{{img}}">
							</div>
							<div class="column">
								{{first_name}} {{last_name}}
								<small>{{email}}</small>
							</div>
						</div>
					{{/project.members}}
				</div>
			</div>
		</div>
	</div>

	<div id="invite-members" class="reveal" data-reveal>
		I haven't done this yet lol soz
	</div>

</div>