<div class="dashboard">

	<div class="row dashboard-panels">

		<div class="column small-4">
			<div class="callout alert text-center">
				<strong style="font-size:2em">{{last24}}</strong> new exceptions in the last 24 hours.
			</div>
		</div>

		<div class="column small-4">
			<div class="callout warning text-center">
				<strong style="font-size:2em">{{instanceCounter}}</strong> exceptions caught in the last 24 hours.
			</div>
		</div>

		<div class="column small-4">
			<div class="callout info text-center">
				<strong style="font-size:2em">{{unresolvedCounter}}</strong>
				unresolved exceptions in this project
			</div>
		</div>

	</div>


	<div class="row">

		<div class="column small-8">
			<canvas class="canvas">

			</canvas>
		</div>


		<div class="column small-4">
			<div class="callout">

			</div>
		</div>
	</div>

</div>