<!doctype html>
<html>
	<head>
		<title>{{ title }} | Zappem</title>
		<link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/app.css">
	</head>

	<body>

		<div class="topbar">
			<div class="row align-middle">
				<div class="column logo">
					<img src="/images/logo.svg">
				</div>
				<div class="project column">
					{{#project}}
						{{project.project_name}}
					{{/project}}
					{{^project}}
						Select Project
					{{/project}}
				</div>
				<div class="user column shrink align-right">
					{{#user}}
						{{ user.name }}
					{{/user}}
				</div>
			</div>
		</div>

		<div class="sidebar">
			<nav>
				<li class="active">
					<a href="/project/{{project._id}}/dashboard">
						<i class="fa fa-dashboard"></i>
					</a>
				</li>
				<li>
					<a href="/project/{{project._id}}/exceptions">
						<i class="fa fa-exclamation-triangle"></i>
					</a>
				</li>
				<li>
					<i class="fa fa-power-off"></i>
				</li>
				<li>
					<i class="fa fa-inbox"></i>
				</li>
			</nav>
		</div>

		<div class="content">
			{{{ yield }}}
		</div>

		<footer>
			<div class="container">
				&copy; 2016 Zappem - Dan Johnson
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="/js/app.js"></script>

	</body>
</html>