<p>
	Great! Now that your database is all set up, you now need to create a user for yourself. You can add more later.
</p>

<p>
	<small>
		<strong>Why do I need to create users?</strong><br>
		This is so that you and your coworkers can comment on exceptions
	</small>
</p>

<p>
{{formerror}}
</p>

<p>
	<form action="" method="post">

		<label>
			Name
			<input type="text" name="name" value="{{oldname}}">
		</label>

		<label>
			Email
			<input type="email" name="email" value="{{oldemail}}">
		</label>

		<label>
			Password
			<input type="password" name="password">
		</label>

		<label>
			Confirm Password
			<input type="password" name="confirmpassword">
		</label>

		<button type="submit" class="button primary">
			Create User
		</button>

	</form>
</p>
