<link rel="stylesheet" href="/css/exceptions.css">
<script src="/js/exceptions.js"></script>

{{^exceptions}}
	<div class="callout warning">
		<p>
			Looks like you haven't got any exceptions in here!
		</p>
		<p>
			Either you're a great programmer or you haven't set up Zappem yet.
		</p>
		<p>
			If you need to hook up Zappem to your project, <a href="/docs">see the docs</a>
		</p>

		<p>
			Your project ID is <code>{{project._id}}</code>
		</p>
	</div>
{{/exceptions}}

{{#exceptions.length}}
<table class="exception-table">
	<thead>
		<tr>
			<th>24h Trend</th>
			<th>Count</th>
			<th>Users</th>
			<th>Message</th>
			<th class="sortable desc">Latest</th>
			<th>Env</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#exceptions}}
			<tr>
				<td class="small">
					<canvas width="100" height="30" class="canvas" data-graph="[{{chart}}]">
						
					</canvas>
				</td>
				<td class="smaller">
					<span class="badge {{#instances.length>1}}lol{{/instances.length>1}}">
						{{instances.length}}
					</span>
				</td>
				<td class="smaller">
					0
				</td>
				<td class="exception-message">
					<a href="/project/{{project}}/exceptions/{{_id}}" title="{{message}}">
						{{message}}
					</a>
				</td>
				<td class="time-ago">
					<attr title="{{created_at}}">
						{{last_received_nice}}
					</attr>
				</td>
				<td class="smaller">
					<i class="fa fa-terminal"></i>
				</td>
				<td class="small">
					<button class="button" data-open="resolve">
						Resolve
					</button>
				</td>
			</tr>
		{{/exceptions}}
	</tbody>
</table>
{{/exceptions.length}}

<div class="reveal" id="resolve" data-reveal>
	<p>Are you sure you want to mark this exception as Resolved?</p>
	<div class="row align-right">
		<button class="button hollow" data-close>Cancel</button>
		<button class="button">Resolve</button>
	</div>
</div>
