<div class="row">
	<div class="column">
		<strong>Welcome to Zappem!</strong>
	</div>
</div>

<div class="row">
	<div class="column">
		<p>
			Looks like it's your first time here. Before you can get stuck in, you need to either create a project or join one.
		</p>

		<p>
			If your co-workers are already using Zappem, ask them for the <strong><em>Project ID</em></strong>. It's at the top of the Projects page. You can't miss it.
		</p>

		<p>
			Otherwise, you can create your project below. You'll be able to invite co-workers later.
		</p>

	</div>
</div>

<div class="row">
	<div class="column small-12 medium-6">
		<strong>Join Existing Project</strong>

		<label>
			Project ID
			<input type="text">
		</label>

		<button class="button primary">Join Project</button>
	</div>

	<div class="column small-12 medium-6">
		<strong>Create New Project</strong>

		<label>
			Project Name
			<input type="text">
		</label>

		<label>
			Project URL
			<input type="text">
		</label>

		<label>
			Language
			<select>
				<option>-- Please Select --</option>
				<option>PHP</option>
			</select>
		</label>

		<button class="button primary">Create Project</button>
	</div>
</div>

