<p>
	Welcome! Looks like it's your first time using <strong>Zappem</strong>
</p>
<p>
	<strong>Zappem</strong> requires a MongoDB database to work. Before you continue, you'll need to install a MongoDB database on this computer or somewhere you have network access to.
</p>
<p>
	If you have <code>brew</code>, you can install <strong>MongoDB</strong> with the following command:

	<code>brew install mongodb</code>
</p>
<p>
	Or click <strong>Get MongoDB</strong> below to download the installer.
</p>

<p>
	<a href="https://www.mongodb.com/download-center" target="_blank">
		<button class="button">
			<i class="fa fa-cloud-download"></i> Get MongoDB
		</button>
	</a>

	<a href="/setup-db">
		<button class="button hollow">
			<i class="fa fa-check"></i> I already have MondoDB
		</button>
	</a>
</p>
