{% extends 'layouts/default.html' %}

{% block css %}
  <link href="/css/login.css" rel="stylesheet">
{% endblock %}

{% block js %}
  <script src="/js/login.js"></script>
{% endblock %}

{% block content %}
  <div class="login-welcome row align-middle align-center">
        <div class="column login-fade-in">
            <h1 class="text-center">Welcome to Zappem</h1>

            <div class="login-create-account-section">
              <form action="/create-account" method="post">
                <div class="row">
                  <div class="column">
                    <input type="text" placeholder="First Name">
                  </div>
                </div>

                <div class="row">
                  <div class="column">
                    <input type="text" placeholder="Last Name">
                  </div>
              </div>

              <div class="row">
                <div class="column">
                    <input type="email" placeholder="Email Address">
                  </div>
              </div>

              <div class="row">
                <div class="column">
                    <input type="password" placeholder="Password">
                  </div>
              </div>

              <div class="row">
                <div class="column">
                    <input type="password" placeholder="Confirm Password">
                  </div>
              </div>
          </form>
          </div>

          <div class="login-section">
            <form action="/login" method="post">
              <div class="callout warning login-error">
                <i class="fa fa-exclamation-triangle"></i>
                <span class="error-contents"></span>
              </div>
              <div class="row">
                <div class="column">
                  <input type="email" placeholder="Email Address" name="username">
                </div>
              </div>

              <div class="row">
                <div class="column">
                  <input type="password" placeholder="Password" name="password">
                </div>
              </div>
            </form>

          </div>

            <div class="row align-center login-buttons">
                <div class="column small-12 medium-6">
                    <button class="button primary expanded login-create-account">Create Account</button>
                </div>
                <div class="column small-12 medium-6">
                    <button class="button hollow primary expanded login-button">Log In <i class="fa fa-caret-right"></i></button>
                </div>
            </div>

        </div>



  </div>

    <div class="version-number">
        v0.0.1
    </div>
    <div class="login-footer">
        <a href="#">About</a> &middot; <a href="#">Docs</a>
    </div>
{% endblock %}