<div class="row align-center main-login-contents">
  		<div class="small-12 column login-column">
  			
        <div class="logo">
          <img src="/images/logo.svg">
        </div>

  			<div class="login-box">
  				<h3>Log in to your account</h3>

  				{{#login_error}}
  				<div class="callout alert"><i class="fa fa-exclamation-circle"></i> {{ login_error }}</div>
  				{{/login_error}}

  				<form action="/login" method="post">
	  				<input type="text" name="username" placeholder="Email Address" value="{{oldemail}}">

	  				<input type="password" name="password" placeholder="Password">

	  				<button type="submit" class="button primary expanded">Log In</button>
	  			</form>

	  			<div class="sign-up">
	  				New to <strong>Zappem?</strong> <a href="/sign-up">Sign Up</a>
	  			</div>

  			</div>

  			<div class="login-footer row align-justify">
  				<div class="column shrink">
  					<a href="/forgotten-password">
  						Forgotten Password?
  					</a>
  				</div>

  				<div class="column shrink">
  					<a href="https://github.com/danjohnson95/maggot.io" target="_blank">
  						<i class="fa fa-github"></i> GitHub</a>
  				</div>

  			</div>

  		</div>
  	</div>