<div class="row">
	<div class="column">
		<p>
			With Zappem it's not just exceptions you can send - you can also send any log event. The message, along with it's severity, will be listed here. You can search through them or even set up notifications to alert you when a specific log comes in.
		</p>
	</div>
</div>

{{^logs}}
	<div class="row">
		<div class="column">
			<p>
				Looks like you haven't sent us any logs yet. Do you need to <a href="/docs#logs">see the docs</a> to find out how to?
			</p>
		</div>
	</div>
{{/logs}}