<div class="row align-right">
	<div class="column shrink">
		<a href="/pings/new">
			<button class="button primary">
				<i class="fa fa-plus"></i> Create Ping
			</button>
		</a>
	</div>
</div>

<hr>

{{^pings}}
	Looks like you haven't got any pings set up. <a href="/docs#pings">Read more about Pings</a>
{{/pings}}

{{#pings.length}}
<strong>Existing Pings</strong>
	<table>
		<thead>
			<tr>
				<th>Status</th>
				<th>URL</th>
				<th>Last Checked</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#pings}}
				<tr>
					<td>
						All Good
					</td>
					<td>
						{{url}}
					</td>
					<td>
						{{last_checked}}
					</td>
					<td>
						<a href="/project/{{project}}/pings/{{_id}}">View</a>
						<a href="/project/{{project}}/pings/{{_id}}/edit">Edit</a>
					</td>
				</tr>
			{{/pings}}
		</tbody>
	</table>
{{/pings.length}}
