<div class="row align-center main-signup-contents">

	<div class="column small-8 signup-column">

		<h2>Bug tracking, the way it should be.</h2>

		<hr>

		<div class="row">

			<div class="column small-6 signup-info">

				<p>
					<em><i class="fa fa-hand-o-up"></i> Better than the rest</em>
					Bug trackers like <strong>Rollbar</strong> and <strong>Honeybadger</strong> are expensive and have a short data retention policy.
				</p>

				<p>
					<em><i class="fa fa-usd"></i> It's free!</em>
					<strong>maggot</strong>.io is free because it runs on your own database. Store as much as you can for as long as you like!
				</p>

				<p>
					<em><i class="fa fa-lock"></i> More secure</em>
					Your exceptions could contain confidential information. Keep them safe by storing all your data on your own server.
				</p>

			</div>

			<div class="column small-6 signup-form">
				<form action="/sign-up" method="post">
				  	{{#formerror}}
  						<div class="callout alert">{{ formerror }}</div>
  					{{/formerror}}

					<input type="text" placeholder="First Name" name="first" value="{{oldfirst}}">

					<input type="text" placeholder="Last Name" name="last" value="{{oldlast}}">

					<input type="email" placeholder="Email Address" name="email" value="{{oldemail}}">

					<input type="password" placeholder="Password" name="password">

					<input type="password" placeholder="Confirm Password" name="confirmpassword">

					<button class="button primary expanded">Create Account</button>
				</form>
				<small class="text-center">By creating your account, you are agreeing to our terms &amp; conditions</small>

				<div class="back-to-login text-center">
					Already have an account? <a href="/login">Sign In</a>
				</div>

			</div>

		</div>

	</div>
</div>