<div class="row">
	<div class="column small-12 text-center">
		<h1>Welcome to Zappem</h1>
	</div>
</div>

<div class="row">
	<div class="column small-12">
		<p>
			Before you can start zapping bugs, first you need to set up a database connection.
		</p>
		<p>
			You can use a database on this computer, a computer on this network or a database accessible over the internet.
		</p>
		<p>
			Where should Zappem connect to?
		</p>

		<form action="" method="post">
			<label>
				Host
				<input type="text" name="host">
			</label>

			<label>
				Port
				<input type="text" name="port">
			</label>

			<label>
				Database Name
				<input type="text" name="name">
			</label>

			<label>
				Username
				<input type="text" name="username">
			</label>

			<label>
				Password
				<input type="password" name="password">
			</label>

			<button class="button">
				Connect
			</button>
			
		</form>

	</div>
</div>