.search-bar {
  position: relative; }
  .search-bar i {
    position: absolute;
    font-size: 1em;
    margin: 10px; }
  .search-bar input {
    padding-left: 2.3em; }
  .search-bar #exception-search {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0; }

table thead, table tbody {
  background-color: transparent;
  border: 0; }

table thead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3); }

table tbody tr {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1); }
  table tbody tr:nth-child(even) {
    background-color: transparent; }
  table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05); }

hr {
  border-color: rgba(255, 255, 255, 0.1); }

.main-view-exception .exception-class {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3); }

.main-view-exception .exception-title {
  font-size: 2em; }

.main-view-exception .exception-file {
  color: rgba(255, 255, 255, 0.3); }
  .main-view-exception .exception-file .line {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6); }

.main-view-exception .grey-label {
  color: rgba(255, 255, 255, 0.3);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  display: block; }
