<div class="row">

	<div class="column small-12 medium-6 large-4">
		<a href="#" data-open="new-project-modal">
			<div class="callout project-box new-project">
				<div class="project-title">
					<i class="fa fa-plus"></i> New Project
				</div>
			</div>
		</a>
	</div>
	
	{% for project in projects %}
		<div class="column small-12 medium-6 large-4">
			<a href="/project/{{project.id}}/dashboard">
				<div class="callout project-box">
					<div class="project-title">
						{{project.name}}
					</div>
					<div class="row project-stats">
						<li class="column small-4">
							? <label title="New Exceptions Today">New</label>
						</li>
						<li class="column small-4">
							? <label title="Total Exceptions Today">Total</label>
						</li>
						<li class="column small-4">
							? <label title="Total Unresolved Exceptions">Unresolved</label>
						</li>
					</div>
					<li class="project-settings">
						<i class="fa fa-cog"></i>
					</li>
				</div>
			</label>
		</div>
	{% endfor %}

</div>

<div class="reveal modal" id="new-project-modal" data-reveal>

</div>