@import "settings";
@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-everything($flex: true);


body{

	background: $primary-color; /* fallback for old browsers */
	//background: -webkit-linear-gradient(to left, #348F50 , #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
	//background: linear-gradient(to left, #348F50 , #56B4D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        

	.wrap{
		min-height: 100%;
		max-width: initial;
	}

	#contents{

		background-color: #fff;
		color: #666;
		font-size: .9em;
		padding-bottom: 1em;
		border-radius: $global-radius;

		.content-header{
			border-bottom: 1px solid rgba(0,0,0,0.1);
			font-weight: bold;
			color: $primary-color;
			font-size: 1.5em;
			padding: 0.5em 0.7em;
			margin: 0 -0.7em;
		}

		.page-contents{
			padding-top: 1em;
			height: calc(100% - 10px);
		}

	}

	#sidebar{
		padding: 0;
		color: #fff;
		font-size: .9em;
		width: 250px;

		ul{
			margin: 0;
			list-style: none;
			li{
				color: #fff;
				padding: 1em;
				&:hover, &.active{
					background-color: rgba(0,0,0,0.1);
					i{
						color: #fff;
					}
				}
				i{
					font-size: 1.5em;
					width: 32px;
					text-align: center;
					margin-right: 10px;
					position: relative;
					top: 2px;
					color: rgba(255,255,255,0.7);
				}
			}
		}

		.logo{
			font-weight: bold;
			height:55px;
			border-bottom: 1px solid rgba(0,0,0,0.1);

			img{
				width: 100px;
				margin: 20px;
			}
		}

		.user-block{
			background-color: rgba(0,0,0,0.2);
			padding: 1em;
			.column:first-child{
				padding-right: 0;
			}
			img{
				border-radius: $global-radius;
			}
		}
	}

	footer{
		color:rgba(0,0,0,0.3);
		font-size: .8em;
		padding: 1em 0;
		cursor: default;
		background-color:rgba(0,0,0,0.1);
		border-top:1px solid rgba(0,0,0,0.1);

		a{
			color: rgba(0,0,0,0.3);
			font-weight: bold;
			&:hover{
				color: rgba(0,0,0,0.5);
			}
		}
	}

}