@import "settings";

.login-welcome{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    max-width: initial;
    left: 0;

    & > .column{
      width: 90%;
      max-width: 750px;
      position:relative;

      .login-buttons{
      	max-width: 470px;
      	margin: 1em auto;
      }


      .login-create-account-section, .login-section{
      	display: none;
      	max-width: 470px;
      	margin: 0 auto;
      	padding-left: 1rem;
      	padding-right: 1rem;

      	form{
      		.login-error{
      			display: none;
      		}
      		margin: 1em 0 0 0;
      		input{
      			background-color: rgba(255,255,255,0.1);
      			border: 0;
      		}
      	}
      }

      .login-create-account-section{


      }

      .login-section{


      }


    }

	h1{
		font-weight: 100;
		font-size: 4em;
        margin-bottom: 0;
	}
}

.login-footer{
  position:absolute;
  bottom: 10px;
  right: 10px;
}

.version-number{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.login-fade-in{
	display: none;
}