@import "settings";
@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-everything($flex: true);

@import "sidebar";

html{
	overflow-x: hidden;
}

body{
	overflow-x: hidden;
	background: $primary-color; /* fallback for old browsers */
	//background: -webkit-linear-gradient(to left, #348F50 , #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
	//background: linear-gradient(to left, #348F50 , #56B4D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        

	.wrap{
		min-height: 100%;
		max-width: initial;
	}

	#contents{

		background-color: #fff;
		color: #666;
		padding-bottom: 1em;
		border-radius: $global-radius;
		overflow-x: hidden;
		
		transition: 0.2s transform;

		@include breakpoint(medium){
			transform: translate3d(0,0,0);
		}

		.content-header{
			border-bottom: 1px solid rgba(0,0,0,0.1);
			font-weight: bold;
			color: $primary-color;
			font-size: 1.5em;
			padding: 0.5em 0.7em;
			margin: 0 -0.7em;

			#sidebar-toggle{
				display: inline-block;
				background-color: $primary-color;
				color: #fff;
				margin: -.5em .5em -.5em -.5em;
				button{
					border-radius: 0;
					padding:.8em;
				}
			}
		}

		.page-contents{
			padding-top: 1em;
			height: calc(100% - 10px);
		}

	}

	footer{
		color:rgba(0,0,0,0.3);
		font-size: .8em;
		padding: 1em 0;
		cursor: default;
		background-color:rgba(0,0,0,0.1);
		border-top:1px solid rgba(0,0,0,0.1);

		a{
			color: rgba(0,0,0,0.3);
			font-weight: bold;
			&:hover{
				color: rgba(0,0,0,0.5);
			}
		}
	}

}