@import "foundation";


body{
	font-family: 'Roboto', sans-serif;
	background-color: $background-color;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

#topbar{
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
	.logo, nav{
		display: inline-block;
		vertical-align: top;
	}
	.logo{ 
		padding:10px 0 10px 1em;
		.img{
			margin-top: 5px;
			width: 22px;
			background-size: 150px;
			height: 24px;
			background-image: url('/images/logo.svg');
		}

		@include breakpoint (large up){
			.img{
				width: 150px;
			}
		}
	}
	nav{
		padding-left: 1em;
		list-style: none;
		.nav-divider{
			display: inline-block;
			width: 1px;
			background-color: rgba(255,255,255,0.2);
			height: 20px;
			vertical-align: middle;
			margin-top: 15px;
		}

		& > a > li small{
			display: none;
		}

		@include breakpoint(large up) {
			& > a > li small{
				display: inline;
			}
		}
		& > a > li, li.topbar-dropdown{
			display: inline-block;
			padding: 12px 20px 15px;
			cursor: pointer;
			vertical-align: top;
			font-size: .9em;
			font-weight: bold;
			text-transform: uppercase;
			border-bottom: 2px solid transparent;

			&.active{
				color: #fff;
				border-color: rgb(25, 163, 100);
				i, small{
					color: #fff;
				}
			}

			i{
				font-size: 1.5em;
				color: rgba(255,255,255,0.4);
				margin-right: 5px;
				position: relative;
				top: 3px;
			}
			&.topbar-dropdown{
				text-transform: initial;
				padding: 18px 14px 8px 12px;
				line-height: 2;
				border: 0;
				&:hover, &.hover{
					background-color: rgba(255,255,255,0.1);
					border-color: transparent;
				}
				small{
					position: absolute;
					top: 5px;
				}
			}
			&:hover:not(.active){
				border-color: darken(rgb(25, 163, 100), 25);
				i{
					color: #fff;
				}
			}
			small{
				font-size: 9px;
				color: rgba(255,255,255,0.3);
				font-weight: bold;
				text-transform: uppercase;
			}
			i.fa-caret-down{
				font-size: .8em;
				margin-left: 5px;
				top: -1px;
				margin-right: 0;
			}

			&.user-dropdown{
				padding-left: 52px;
				position: relative;
				.user-img{
					position: absolute;
					width: 32px;
					top: 9px;
					left:10px;
					img{
						width: 100%;
						border-radius:5px;
					}
				}
			}
		}
	}


}

.hr-row{
	position: relative;
	text-transform: uppercase;
	text-align: center;
	color: #434857;
	font-size: 12px;
	h3{
		position: relative;
		z-index: 2;
		margin: 0;
		display: inline-block;
		background-color: $background-color;
		padding-left: 1em;
		padding-right: 1em;
		color: #6f7890;
		font-weight: normal;
	}
	&:before{
		content:"";
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 1px;
		top: 50%;
		left: 0;
		background-color: #434857;
	}
}
.container{
	// padding-left: 40px;
	// padding-right: 40px;
}

#content{
	padding-top: 70px;
}