<div class="row align-middle align-center" id="login-box">

	<div class="column small-12 medium-8 large-4">

		<div class="panel align-left">
			<div class="panel-head">
				Log In
			</div>
			<div class="panel-contents">

				<form action="" method="post">
					{{#loginErr}}
						<div class="alert danger">
							<i class="fa fa-exclamation-circle"></i> Incorrect username or password
						</div>
					{{/loginErr}}

					<input type="email" name="username" placeholder="Email">
					<input type="password" name="password" placeholder="Password">
					<div class="row align-middle">
						<div class="column shrink">
							<input type="submit" value="Log In">
						</div>
						{{^demo}}
							<div class="column">
								<div>
									<a href="/forgot">Forgot Password?</a>
								</div>
								<div>
									<a href="/register">Register</a>
								</div>
							</div>
						{{/demo}}
					</div>
				</form>

			</div>
		</div>
	</div>
</div>