<div class="row section-title align-middle">
	<div class="column shrink">
		<a href="/projects" data-pjax>
			<button class="button small">
				Back to Projects
			</button>
		</a>
	</div>

	<div class="column">
		<h1>New Project</h1>
	</div>
</div>

<div class="row new-project">
	<div class="column small-12 medium-7 large-5">

		<div class="panel">

			<div class="panel-contents no-bg">

				<form action="" method="post">
					<input type="text" name="name" placeholder="Project Name">
					<input type="url" name="url" placeholder="Project URL">
					<p class="input-help">
						We'll periodically ping this URL and notify you and your team if there's any downtime
					</p>
					<button class="button small">
						Next
					</button>
				</form>

			</div>

		</div>

	</div>

</div>

