@import "settings";

.search-bar{
	position: relative;
	i{
		position: absolute;
		font-size: 1.5em;
		margin:.4em;
	}
	input{
		padding-left:2.3em;
	}
}
table.exception-table{
	border-radius: 0;
	background-color: transparent;
	thead{
		border: 0;
		background-color: transparent;
		tr{
			//background-color: #fff;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			font-size: 1em;
			color: rgba(255,255,255,0.5);
			th{
				padding-top:.5em;
				padding-bottom:.5em;

				&.sortable{
					position: relative;
				}
				&.sortable:after{
					content: '';
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					position: absolute;
					top: 10px;
					margin-left: 5px;
				}
				&.sortable.asc:after{
					border-bottom: 5px solid $table-head-font-color;
				}
				&.sortable.desc:after{
					border-top: 5px solid $table-head-font-color;
				}
			}
		}
	}
	tbody{
		tr{
			//background-color: #fff;
			border-bottom: 1px dotted rgba(0,0,0,0.1);

			td{
				padding: .5em;
			}

			td.small{
				width: 115px;
				min-width: 115px;
				max-width: 115px;
			}
			td.smaller{
				width:70px;
				max-width:70px;
				min-width: 70px;
			}
			td.time-ago{
				width: 110px;
				color: $comment-color;
			}
			td.exception-message{
				font-weight: bold;
				max-width: 0;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				a{
					color: $exception-color;
				}
			}
			button{
				margin:0;
			}
		}
	}
}

#exception-ajax{
	padding:2em;
	background-color: rgba(255,255,255,0.1);
	.ajax-loading{
		font-size: 2em;
		color: rgba(0,0,0,0.3);
		padding: 2em;
		text-align: center;
	}
}

.exception-tabs a{
	padding: 1em 1.5em;
	border-radius: $global-radius $global-radius 0 0;
	display: block;
	&.active{
		background-color: rgba(255,255,255,0.1);
		font-weight:bold;
	}
}

.comment-row{
	.column:first-child{
		padding-right: 0;
	}
	textarea{
		font-size: .9em;
		height:100px;
	}
	img{
		border-radius: $global-radius;
	}
}

.activity-row{
	.column:first-child{
		padding-right: 0;
	}
	img.user-img{
		border-radius: $global-radius;
		width:35px;
		height:35px;
	}
	.activity-user{
		line-height: 1;
		margin-bottom: 5px;
		color: $comment-color;
	}
	p{
		margin: 0;
		&.system-message{
			color: $comment-color;
		}
	}
	.activity-content{
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding-bottom: .5rem;
		margin-bottom: 1rem;
	}
}

.main-view-exception{
	.exception-title{
		font-size: 1.5em;
		color: $exception-color;
		font-weight: bold;
	}
	.exception-file{
		.line{
			font-weight: bold;
			color: $orange-color;
		}
	}
}