$font-family: 'Muli', sans-serif;
$body-color: rgba(255,255,255,0.5);
$font-size: 12px;
$topbar-color: #16152c;//#151e2c;
$sidebar-color: #1c1a35;//#1b2436;
$background-color: #1f1e38;//#1e2838;
$accent-color: #a9db29;
$secondary-color: #2b2944;//#2a3344;
$danger-color: rgb(152, 36, 36);