table{
	width: 100%;
	border-spacing: 0;
	tr{
		background-color: #26223d;
	}
	tr td, tr th{
		padding: 10px;
	}

	tr td:first-child, tr th:first-child{
		padding-left: 3em;//20px;
	}
	tr td:last-child, tr th:last-child{
		padding-right: 3em;//20px;
	}
	tbody{
		tr:nth-child(odd){
			background-color: #2b2641;
		}
		tr[data-url]{
			cursor: pointer;
		}
		td.empty{
			padding: 2em 0;
			i{
				font-size: 2em;
			}
		}

		tr.exception-row{
			span.block{
				display: block;
				&.file{
					color: rgba(255,255,255,0.25);
				}
			}
			small{
				font-size: 10px;
			}
			.message{
				font-size: 14px;
			}
		}
	}
	thead{
	
		th{
			text-align: left;
			color: rgba(255,255,255,0.3);
		}
	}
}