@import "settings";
@import "flex";
@import "panel";
@import "table";



body, input, select, button{
	font-family: $font-family;
	-webkit-font-smoothing: antialiased;
    font-size: $font-size;
    color: $body-color;
    font-weight: bold;
}

input, select, button{
	background-color: transparent;
	color: $body-color;
	border: 0;
	outline: 0;
}

a{
	color: $body-color;
	text-decoration: none;
	&:hover, &:active{
		color: #fff;
	}
}




body{
	margin: 0;
	background-color: $background-color;
	//padding: 65px 15px 15px 115px;
	padding: 50px 0 0 80px;

	.padded-content{
		padding: 15px;
		//width: 95%;
		//margin: 0 auto;
	}

	.accent-color{
		color: $accent-color;
	}

	.align-right{
		text-align: right;
	}

	.accent{
		color: $accent-color;
	}

	.alert{
		color: rgba(255,255,255,0.8);
		padding: 1em;
		border-radius: 5px;
		&.danger{
		    background-color: rgb(152, 36, 36);
		}
	}

	.container{
		//width: 95%;
		margin: 0 auto;
	}

	.sidebar{
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		background-color: $sidebar-color;
		width: 80px;
		z-index: 100;
		padding-top: 50px;

		.active-bar{
			position: absolute;
			width: 3px;
			left: 3px;
			height: 100%;
			top: 0;
			> div{
				height:36px;
				width:3px;
				background-color: $accent-color;
				transform:translate3d(0, 65px, 0);
				transition: 0.3s transform;
			}
		}

		nav {
			margin: 1em 0;
			li{
				list-style: none;
				margin: 15px 5px;
				padding: 0;
				text-align: center;
				font-size: 2em;
				&:hover a{
					color: rgba(255, 255, 255, 0.8);
				}
				&.active{
					//border-left: 3px solid $accent-color;
					a{
						color: rgba(255, 255, 255, 0.8);
					}
				}
			}
		}
	}

	.topbar{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		background-color: $topbar-color;
		z-index: 200;

		.logo{
			padding: 15px;
			img{
				height: 17px;
			}
		}

		.user{
			float: right;
		}
	}

	.section-title{
		color: rgba(255, 255, 255, 0.8);
		margin: 0 0 1em 0;
		font-weight: bold;
		font-size: 1.2em;
	}

	// Login Box
	#login-box{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding-left: 80px;
		form{
			padding: 20px;
			.alert{
				margin-bottom: 1em;
			}
			input{
				background-color: $secondary-color;
				width: 100%;
				padding: 10px;
				border-radius: 5px;
				margin-bottom: 1em;
				&[type=submit]{
					background-color: rgb(43, 38, 65);
					margin-bottom: 0;
					color: $accent-color;
					padding: 15px 30px;

				}
			}
		}
	}


	// Exceptions
	.actions-bar{
		padding: 1em 2em;
		i{
			font-size: 2em;
			&.active{
				color: $accent-color;
			}
		}
		input{
			font-size: 14px;
			padding: 5px;
			vertical-align: top;
		}
	}


	// Exception view
	h1{
		color: rgba(255, 255, 255, 0.8);
		margin: 0;
	}
	.actions{
		margin: 1em 0;
	}
	.exception-detail{
		margin: 1em 0;
		padding: 1em 0;
	}

}