@import "settings";
@import "flex";
@import "panel";
@import "table";
@import "modal";
@import "progress";
@import "buttons";

@import "sections/projects";
@import "sections/dashboard";
@import "sections/topbar";
@import "sections/sidebar";
@import "sections/login";
@import "sections/all_exceptions";
@import "sections/view_exception";

body, input, select, button, textarea{
	font-family: $font-family;
	-webkit-font-smoothing: antialiased;
    font-size: $font-size;
    color: $body-color;
    font-weight: bold;
    letter-spacing: .5px;
}

input, select, button, textarea{
	background-color: transparent;
	color: $body-color;
	border: 0;
	outline: 0;
}

a{
	color: $body-color;
	text-decoration: none;
	&:hover, &:active{
		color: #fff;
	}
}


body{
	margin: 0;
	background-color: $background-color;
	padding: 50px 0 0 0;//80px;
	transition: 0.2s padding;

	.padded-content{
		padding: 15px 5px;
		@media #{$medium-up}{
			padding: 15px;
		}
	}

	.accent-color{
		color: $accent-color;
	}

	.align-right{
		text-align: right;
	}
	.align-center{
		text-align: center;
	}
	.align-left{
		text-align: left;
	}

	.accent{
		color: $accent-color;
	}

	.alert{
		color: rgba(255,255,255,0.8);
		padding: 1em;
		border-radius: 5px;
		&.danger{
		    background-color: $danger-color;
		}
	}

	.container{
		//width: 95%;
		margin: 0 auto;
	}


	.section-title{
		color: rgba(255, 255, 255, 0.8);
		margin: 0 0 1em 0;
		font-weight: bold;
		font-size: 1.2em;
		button{
			margin: 0;
		}
	}

	.demo-bar{
		background-color: $accent-color;
		color: rgba(0,0,0,0.5);
		padding: 10px 0;
	}


	// Exceptions


}